
*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;


}

body{
    background-color:#030303;
    background-image: url(imagenes/black_linen_v2/black_linen_v2.png);
    color:white;
}

.contenedor{
    max-width: 1000px;
    margin: auto;
    background-color: rgb(42, 38, 38);

}
.inicio{
    width: 100%;
    overflow: auto;
    background-size: cover;
}
.inicio img{
    width: 100%;
}

header{
    list-style-type: none;
    text-align: center;
    width: 100%;
    position: fixed;
    background-color: transparent;
    max-width: 1000px;
}
header .listas{
    /* padding-left: 35px; */
    padding-top: 25px;
    /* padding-bottom: 20px; */

    list-style-type: none;
    /* overflow: auto; */
}
header a{
    display: block;
    float: left;
    /* padding-left: 40px; */
    /* padding-right: 60px; */
    /* padding-top: 12px; */
    /* padding-bottom: 12px; */
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
    border-right: 1px solid yellow;
    width: 20%;

}
header a#t{
    border: none;
}
header a:hover{
    color:green;
}
.header2{
    position: fixed;
    /* height: 100px; */
    width: 100%;
    z-index: 3;
}
.header2 a{
    background-color: rgb(55, 54, 65);
    color: rgb(239, 220, 13);
    text-align: center;
}
.titulos{
    text-align: center;
    padding-top: 80px;

}
.nav{
    position: absolute;
    display: none;
}
.nav button{
	background: none;
	border: none;
	cursor: pointer;
}


.nav-mobile{
	position: absolute;
    max-width: 400px;
    padding: 0px;
    display: none;
	list-style-type: none;
	background-color: #231e23;
}

.nav-mobile a{
	display: block;
	padding: 12px;
	border-bottom: 1px dashed #93939e;
	color: #FFF;
    text-decoration: none;
    width: 100%;
    border-right: none;
}
.nav-mobile a:hover{
	background-color: orange;
}

.toggle{
	display: block;
}
/* ------------------Fin de botonera-------------------------- */

/* --------------- Novedades ------------------------------------ */
.novedades{
    
    /* padding-top: 30px; */
    /* padding-bottom: 20px; */

}
.concierto{
    padding-left: 60px;
    width: 100%;
    padding-right: 60px;
}
.concierto img{
    display:block;
    padding-top: 36px;
    padding-bottom: 30px;
    width: 100%;
}
.concierto p{
    font-family: verdana;
    font-size: 20px;
    /* padding-right: 106px; */
}

/* ------------------------Biografia ------------------------ */
.biografia{
    
    /* padding-top: 30px; */
    /* padding-bottom: 20px; */
    height: 800px;
}
.historia{
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
}
.historia img{
    display:block;
    padding-top: 60px;
    float:left;
    width: 50%;
}
.historia p{
    display: block;
    width: 50%;
    float: right;
    padding-top: 55px;
    padding-left: 12px; 
    font-family: verdana;
    font-size: 20px;
    text-align: justify;


}
/* --------------------------DISCOGRAFIA------------- */
.discografia{
    /* padding-top: 30px; */
    /* padding-bottom: 20px; */
}
.album{
    padding-left: 60px;
    padding-right: 60px;
}
.tit-album{
    /* padding-left: 34px; */
    font-size: 37px;
}
.discografia img{
    display: block;
    /* padding-top: 15px; */
    /* padding-left: 64px; */
    float: left;
    width: 50%;
}
#accordion{
    float: right;
    list-style-type: none;
    text-decoration: none;
    /* -webkit-border-radius: 4px; */
	/* -moz-border-radius: 4px; */
    border-radius: 4px;
    padding-left: 50px;
    width: 50%;
}
#accordion .link{
    cursor: pointer;
    display: block;
    background-color: rgb(4, 4, 17);
    position: relative;
    padding: 12px;
    /* -webkit-transition: all 0.4s ease; */
	/* -o-transition: all 0.4s ease; */
	transition: all 0.4s ease; 
}
#accordion ul.a{
    display: none;
    background: rgb(8, 7, 7);
}
#accordion ul.a audio.cancion{
    display: block;
    padding: 12px;
    -webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
#accordion ul.a audio.cancio:hover{
    background: rgb(0, 0, 0);
}

/* ------------------------CONTACTOS------------------ */
.contactos{
    
    padding-right: 60px;
    padding-left: 60px;
    clear: both;
    overflow: auto;

}
.contactos .envio{
    display: block;
    float: left;
    padding-top: 50px;
    /* padding-left: 60px; */
    font-family: verdana;
    font-size: 22px;
    text-align: justify;
    width: 50%;

}
.correo{
    color: white;
}
.correo:hover{
    color:rgb(187, 57, 57);
}
.formulario{
    /* padding-right: 90px; */
    padding-top: 47px;
    float: right;
    width: 50%;
}
.cuadro{
    border: 1px solid rgb(29, 26, 26);
    border-radius: 3px;
    font-size: 15px;
    font-family: sans-serif;
    margin:  6px 0 4px;
    padding: 12px;
    width: 100%;
}
.comentario{
    width: 100%;
}
.enviar{
    background: none;
    border:1px solid white;
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: 22px; 
    margin: 21px 0 21px 0;
    position: relative;
    left: 25%;   
    width: 50%;
}
.enviar:hover{
    background-color: rgb(238, 217, 236);
    color: rgb(63, 11, 148);
}
.pie{
    height: 140px;
    background-color: #1f1f23;
    padding-top: 20px;
    /* padding-left: 20px; */
    border-top: 1px solid rgb(26, 6, 6);
    font-size: 12px;
    overflow: auto;
    clear: both;
    width: 100%;
}

.pie-copy{
    float: left;
    width: 50%;
    padding-left: 50px;
   
}
.sociales{
    /* padding-left: 500px; */
    width: 50%;
    float: right;
}
#facebook, #twitter, #instegram, #youtube{
	
	height: 23px;
	padding-left: 24px;
	background-image: url(imagenes/sociales.png);
	background-repeat: no-repeat;

}
#facebook{
    background-position: 0px 0px;
    float: left;
    border-radius: 23px;
    cursor: pointer;
}
#twitter{
    background-position: 0px -23px;
    float: left;
    border-radius: 23px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}
#instegram{
    background-position: 0px -46px;
    float: left;
    border-radius: 23px;
    cursor: pointer;
}
#youtube{
    background-position: 0px -69px;
    float: left;
    border-radius: 23px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}
.creditos{
    clear: both;
    text-align: right;
    padding-top: 58px;
}


/* ---------------MOBILE------------------------ */

@media (max-width: 768px){
    header ul{
        padding-left: 0px;
        padding-top: 25px;
        padding-bottom: 20px;
        list-style-type: none;
        overflow: auto;
    }

    header a{
        display: block;
        float: left;
        /* padding-left: 33px; */
        /* padding-right: 38px; */
        padding-top: 12px;
        padding-bottom: 12px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-right: 1px solid yellow;
    }
    .concierto{
        padding-left: 27px;
        padding-right: 22px;
    }
    .concierto img{
        display:block;
        padding-top: 36px;
        padding-bottom: 30px;
        width: 100%;
    }
    .concierto p{
        font-family: verdana;
        font-size: 20px;
        padding-right: 0px;
    }
    .historia{
        padding-left: 27px;
        padding-right: 27px;
        padding-top: 30px;
    }
    .historia img{
        display:block;
        padding-top: 0px;
        float:left;
        width: 50%;
    }
    .historia p{
        display: block;
        width: 50%;
        float: right;
        padding-top: 0px;
        padding-left: 23px;
        font-family: verdana;
        font-size: 20px;
        text-align: justify;
    
    
    }
    .tit-album{
        font-size: 37px;
    }
    .discografia img{
        display: block;
        padding-top: 15px;
        float: left;
        width: 50%;
    }
    #accordion{
        float: right;
        list-style-type: none;
        text-decoration: none;
        border-radius: 4px;
        padding-left: 25px;
        width: 50%;
    }
    .contactos{
        
        padding-top: 20px;
        clear: both;
        padding-left: 26px;
    
    }
    .contactos .envio{
        display: block;
        float: left;
        padding-right: 95px;
        font-family: verdana;
        font-size: 22px;
        text-align: justify;
        width: 50%;
    
    }
    .formulario{
        float: right;
        width: 50%;
        /* padding-bottom: 25px; */
        /* padding-right: 15px; */
    }
}

@media(max-width: 480px){
    .nav{
        display: block;
        padding: 15px;
    }
    header a{
        display: none;
    }
    .biografia{
        
        padding-top: 30px;
        padding-bottom: 20px;
        height: 1050px;
    }
    .historia img{
        width: 100%;
    }
    .historia p{
        display: block;
        width: 100%;
        padding-top: 20px;
        font-family: verdana;
        font-size: 20px;
        text-align: justify;
        padding-left: 0px;
    }
    .discografia{
        height: 952px;
    }
    .album{
        padding-left: 0px;
    }
    .tit-album{
        padding-left: 20px;
        font-size: 37px;
    }
    .discografia img{
        display: block;
        padding-top: 15px;
        padding-left: 27px;
        float: left;
        width: 70%;
    }
    #accordion{
        float: right;
        list-style-type: none;
        text-decoration: none;
        border-radius: 4px;
        padding-left: 25px;
        width: 100%;
        padding-top: 23px;
        padding-right: 23px;
    }
    .contactos{
        padding-top: 20px;
        clear: both;
        padding-left: 60px;
    }
    .contactos .envio{
        display: block;
        float: left;
        /* padding-left: 27px; */
        font-family: verdana;
        font-size: 17px;
        text-align: justify;
        width: 50%;
    
    }
    .formulario{
        float: right;
        width: 50%;
        /* padding-top: 47px; */
        padding-bottom: 25px;
        /* padding-right: 15px; */
    }
    .cuadro{
        border: 1px solid rgb(29, 26, 26);
        border-radius: 3px;
        font-size: 15px;
        font-family: sans-serif;
        margin:  6px 0 4px;
        padding: 12px;
        width: 100%;
    }
}

